header {
    background: #888;
    background: #2C3238;

    h1 {
        /*padding: 20px;*/
        margin-top: 0;
        color: #efefef;
        font-size: 18px;
    }

    .logout-form {
        input.submit {
            width: 100%;
            text-align: left;
            padding-left: 0;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }

    .dropdown {
        border-top: 1px solid rgb(124, 137, 148);

        li {
            border-bottom: 1px solid rgb(124, 137, 148);
        }

        li a {
            background: rgb(85, 88, 90);
        }

        li.parent-link a {
            background: rgb(66, 66, 66);
        }

        li.title {
            background: #333333;

            a {
                background: #333333;
            }
        }
    }
    .top-bar-section ul li > a {
        font-family: 'Inconsolata';
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button).disabled {
        background: #96B8C6;
        color: #111;
    }

    .settings-switch {
        .has-dropdown {
            i.fa {
                margin-right: 13px;
            }
        }

        .level-two {
            min-width: 0;
        }
    }
}

.nav__wrap {
    font-family: 'Inconsolata';

    a.colour-scheme-switch i {
        @extend .fa-moon-o;
        color: rgb(210, 210, 210);
    }

    a.anchor-nav-switch {
        i {
            color: #555;
        }
    }

    &.sticky {
        a.anchor-nav-switch {
            i {
                color: rgb(210, 210, 210);
            }
        }
    }
}
body.light {
    header {
        .left {
            a.colour-scheme-switch i {
                @extend .fa-sun-o;
                color: rgb(234, 234, 170);
            }
        }
    }
}
