header {
    background: #888;
    background: #2C3238;

    h1 {
        /*padding: 20px;*/
        margin-top: 0;
        color: #efefef;
        font-size: 18px;
    }

    .logout-form {
        input.submit {
            width: 100%;
            text-align: left;
            padding-left: 0;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}
