.quick-reply {
    display: inline-block;
    border: 1px solid #999;
    position: absolute;
    top: 45px;
    right: 10px;
    width: 45%;
    background: white;
    opacity: 0.95;

    button {
        padding: 0;
        width: 20px;
        height: 20px;
        background: none;
        color: #888;

        &:hover {
            color: #111;
        }

        &.new-reply-form__submit {
            float: right;
        }

        &.quick-reply__close {
            float: left;
        }
    }

    textarea {
        display: block;
        padding: 5px;
        height: 50px;
        max-height: 100px;
        border: none;
        margin: 0;

        &:focus {
            border: none;
            box-shadow: none;
            background: none;
        }
    }
}
