.quick-reply {
    display: inline-block;
    border: 1px solid #999;
    position: absolute;
    top: 45px;
    right: 10px;
    width: 95%;
    background: rgb(29, 29, 29);
    opacity: 0.95;
    @media only screen and (min-width: 40.063em) {
        width: 45%;
    }

    button {
        padding: 0;
        width: 20px;
        height: 20px;
        background: none;
        color: #888;

        &:hover {
            color: #111;
        }

        &.new-reply-form__submit {
            float: right;
        }

        &.quick-reply__close {
            float: left;
        }
    }

    textarea {
        display: block;
        padding: 5px;
        height: 50px;
        max-height: 100px;
        border: none;
        margin: 0;
        color: #efefef;
        width: 100%;
        background: rgb(29, 29, 29);


        &:focus, &:active {
            border: none;
            box-shadow: none;
            background: none;
        }
    }
}
