$background-color: rgb(29, 29, 29);

body.light {
    .quick-reply {
        background: rgba(232, 232, 232, 0.99);

        textarea {
            background: rgba(232, 232, 232, 0.99);
        }
    }
    .new-reply-form__submit,
    .quick-reply__close {
        background: rgba(165, 174, 178, 0.77);
    }
}

.quick-reply {
    display: inline-block;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: $background-color;
    opacity: 0.95;
    z-index: 1;
    @media only screen and (min-width: 40.063em) {
        width: 45%;
    }

    button {
        padding: 0;
        width: 60px;
        height: 30px;
        @media only screen and (min-width: 40.063em) {
            width: 35px;
            height: 35px;
        }

        background: none;
        color: #888;

        &:hover {
            color: #111;
        }

        &.new-reply-form__submit {
            float: right;
        }

        &.quick-reply__close {
            float: left;
        }
    }

    textarea {
        display: block;
        padding: 5px;
        height: 50px;
        border: none;
        margin: 0;
        color: #efefef;
        width: 100%;
        background: $background-color;
        @media only screen and (min-width: 40.063em) {
            max-height: 100px;
        }


        &:focus, &:active {
            border: none;
            box-shadow: none;
            background: none;
        }
    }
}
