.row.thread-list-wrap {
    max-width: 75rem;
}

ul.threads {
    padding: 0;
    margin-left: 0;

    li { // thread item
        position: relative;
        overflow: hidden;
        list-style-type: none;
        padding: 10px 20px;
        /*border: 1px solid grey;*/
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        min-height: 200px;
        background: #efefef;

        .thread__timestamp, .reply__timestamp {
            font-size: 0.7rem;
            color: grey;
            margin-top: 8px;
        }
    }

    li.row {
        margin-bottom: 35px;
        padding: 0;

        > .columns:first-child {
            padding: 0;

            h3 {
                margin-top: 0;
                margin-bottom: 20px;
                background: rgba(17, 110, 144, 0.1);
                /*background: rgba(0, 0, 0, 0.2);*/
                padding: 7px 10px;
                border-bottom: 3px solid rgba(17, 110, 144, 0.25);
                font-weight: 500;
            }
        }
    }

    //DEV HELPER
    .thread__info {
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        padding: 5px;
        background: rgba(60, 0, 60, 0.4);
        opacity: 0.6;
        p { margin: 0; }
    }

    .thread__image {
        min-height: 1px;
    }

    .thread__reply-buttons {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
            padding: 5px;
        }
    }

    .replies-preview__reply {
        &:first-child {
            margin-top: 0;
        }

        border-radius: 4px;
        width: 50%;
        padding: 15px;
        margin: 8px 0;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;

        .reply__timestamp {
            margin-top: 0;
        }
    }
}

.new-thread-form {
    margin: 20px 0;

    input, button {
        width: 100%;
        padding: 20px 10px;
    }

    input, textarea {
        border: 2px solid grey;
    }

    input.error, textarea.error {
        border-color: rgb(255, 171, 171);
        margin-bottom: inherit;
    }
}

ul.pagination {
    li {
        cursor: pointer;

        &.unavailable {
            cursor: default;
            color: #999;
        }
    }
}
