$base-background-color: rgb(29, 29, 29);

.row.thread-list-wrap {
    max-width: 95%;
}

ul.threads {
    padding: 0;
    margin-left: 0;

    li { // thread item
        position: relative;
        overflow: hidden;
        list-style-type: none;
        padding: 10px 20px;
        /*border: 1px solid grey;*/
        min-height: 200px;
        /*background: #efefef;*/

        .thread__timestamp, .reply__timestamp {
            font-size: 0.7rem;
            color: grey;
            margin-top: 8px;
        }
    }

    li.row {
        margin-bottom: 35px;
        margin-top: 55px;
        padding: 0;
        border-color: rgba(49, 138, 171, 0.4);
        border-style: solid;
        background: darken($base-background-color, 1%) url('/public/dist/bgdots.png');
        opacity: 0.8;

        &:nth-child(even) {
            border-width: 0 1px 1px 0px;
        }

        &:nth-child(odd) {
            border-width: 0 0px 1px 1px;
        }

        /*border-bottom: 3px solid rgba(49, 138, 171, 0.4);*/

        > .columns:first-child {
            padding: 0;

            h3 {
                padding: 5px 10px;
                font-size: 17px;
                margin-top: 0;
                margin-bottom: 20px;
                /*background: rgba(17, 110, 144, 0.1);*/
                background: rgba(49, 138, 171, 0.2);
                /*border-bottom: 3px solid rgba(17, 110, 144, 0.25);*/
                border-bottom: 3px solid rgba(49, 138, 171, 0.4);
                font-weight: 500;
            }
        }
    }

    .reply__content {
        li {
            min-height: 0;
        }
    }

    //DEV HELPER
    .thread__info {
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        padding: 5px;
        background: rgba(60, 0, 60, 0.4);
        opacity: 0.6;
        p { margin: 0; }
    }

    .thread__image {
        min-height: 1px;

        img {
            display: block;
            margin: auto;
            max-height: 225px;
        }
    }

    .thread__reply-buttons {
        position: absolute;
        top: 6px;
        right: 10px;

        button {
            padding: 5px;
            margin-right: 20px;
            font-size: 12px;
        }
    }

    .replies-preview__reply {
        &:first-child {
            margin-top: 0;
        }

        border-radius: 4px;
        width: 50%;
        padding: 15px;
        margin: 8px 0;
        background: rgba(0, 0, 0, 0.25);
        width: 100%;

        .reply__timestamp {
            margin-top: 0;
        }
    }
}

.new-thread-form {
    margin: 20px 0;

    input, button {
        width: 100%;
        padding: 20px 10px;
    }

    input, textarea {
        border: 2px solid grey;
        background: rgb(29, 29, 29);
        opacity: 0.4;
        box-shadow: none;
        border-color: none;
        transition: opacity 0.3s, color 0.3s;

        &:focus, &:active {
            opacity: 1;
            color: #efefef;
            background: rgb(29, 29, 29);
        }
    }


    input.error, textarea.error {
        border-color: rgb(255, 171, 171);
        margin-bottom: inherit;
    }
}

ul.pagination {
    li {
        cursor: pointer;

        &.unavailable {
            cursor: default;
            color: #999;
        }
    }
}
